<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h2>管理后台</h2>
        </div>

        <div class="row">
        </div>

        <div class="row">
            <h2>考核列表</h2>

            <% exams.forEach(function(exam){ %>
                <p><a href="/backend/addSubject?examTitle=<%= exam.title %>"><%= exam.title %></a> <a class="btn btn-success" href="/backend/activeExam?examTitle="<%= exam.title %>>设为目前考核</a></p>
            <% });%>
        </div>

        <br/>
        <br/>

        <div class="row">
            <h2>已经结束的考核</h2>
        </div>

        <br/>
        <br/>

        <div class="row">
            <h2>正在考试的学员名单</h2>
        </div>

        <br/>
        <br/>

        <div class="row">
            <div class="col-lg-3">
                <a href="/backend/createExam"><button class="btn btn-block btn-primary"> 创建考核</button></a>
            </div>
        </div>
    </div>
</body>
</html>