<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>

    <div class="container">
        <div class="page-header">
            <h2>管理后台</h2>
        </div>

        <div class="row">
        </div>

        <div class="row">
            <h2>考核列表</h2>

            <% exams.forEach(function(exam){ %>
                <p><a href="/backend/addSubject?examTitle=<%= exam.title %>"><%= exam.title %></a> <a <% if(exam.isRunning){ %>class="btn btn-primary activeBtn" <% } else {%> class="btn btn-success activeBtn" <% } %> data-href="/backend/activeExam?examTitle=<%= exam.title %>"> <% if(! exam.isRunning){ %> 设为目前考核 <% } else { %> 已激活 <% } %> </a></p>
            <% });%>
        </div>

        <br/>
        <br/>

        <div class="row">
            <h2>已经结束的考核</h2>
        </div>

        <br/>
        <br/>

        <div class="row">
            <h2>正在考试的学员名单</h2>
        </div>

        <br/>
        <br/>

        <div class="row">
            <div class="col-lg-3">
                <a href="/backend/createExam"><button class="btn btn-block btn-primary"> 创建考核</button></a>
            </div>
        </div>
    </div>
</body>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script>
    $(".activeBtn").on('click', function(e){
        var target = e.target;
        var src =  target.dataset.href;
        $.get(src, function(data){
            if(data.statusCode === 200){
                $('.activeBtn').html("设为目前考核");
                $('.activeBtn').removeClass('btn-primary');
                $('.activeBtn').addClass('btn-success');

                $(target).removeClass('btn-success');
                $(target).addClass('btn-primary');
                $(target).html("已激活");
            } else{
                alert("ERROR" + JSON.stringify(data));
            }
        });

        return false;
    });



</script>
</html>
