<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateExam</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<form id="form" method="POST">
    <div class="form-group">
        <label for="title">考试标题</label>
        <input type="text" name="title" class="form-control" placeholder="考试标题" />
        <input type="submit"/>
    </div>
</form>
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
</html>