<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        #editor{
            width: 100%;
            min-height: 500px;
            padding: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row page-header">
            <div class="col-lg-12">
                <h2>Redrock 考试平台</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">

                <div class="Details">
                    <p>sdsd</p>
                </div>

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <form action="/next" method="POST" id="form">
                    <input type="hidden" value="" name="page" />
                    <input type="hidden" id="result" value="" name="result" />
                    <input type="submit" value="下一题"/>
                </form>

            </div>
            <div class="col-lg-8">
                <div id="editor"></div>
            </div>
        </div>
    </div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/ace/build/src/ace.js"></script>
<script src="bower_components/ace/build/src/ext-language_tools.js"></script>
<script>
    ace.require('ace/ext/language_tools');
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });

    var id = location.href.split("?")[1].split("=")[1];

    function getSave(){
        $.post('/getSave', { id : id}, function(result){
            editor.getSession().setValue(result);
        });
    }

    function autoSave(){
        setInterval(function(){
            var result = editor.getSession().getValue();
            $.post('/autoSave', {id : id, result : result}, function(){
                console.log('auto save complete');
            })
        }, 1000 * 30);
    }

    autoSave();
    getSave();

    $('#form').on("submit", function(e){
        var editorValue = editor.getSession().getValue();
       $("#result").val(editorValue);
    });
</script>
</html>
